<!doctype html>
<html lang="en">
  <head>
    {%load staticfiles%}
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <title>Schedule - {{routecode}}</title>
  </head>
  <body>
    <div class="container">
        <h3 style="text-align:center">TRAINSIM PASSENGER</h3>
        <h3>{{routecode}}</h3>
<br><br>
        <table style="width:100%">
        {%for each,time in info%}
        <tr>
        <td>{{time}}</td>
        <td>{{each}}</td>
        {%endfor%}
        </table>
    </div>
</body>
</html>